WX_SERVICE_ROOT=/opt/wx-service/current
WX_SERVICE_DATA_DIR=/var/lib/wx-service
WX_SERVICE_RUNTIME_DIR=/run/wx_service-python
WX_SERVICE_LOG_DIR=/var/log/wx-service
WX_SERVICE_SOCKET_PATH=/run/wx_service-python/wx_service.sock
WX_SERVICE_AUTO_START_GO=false
GO_INTERNAL_API_SOCKET_PATH=/run/wx_service/meituan-query-internal.sock
GO_SHORTLINK_PUBLIC_BASE_URL=https://jd2.top
WX_SERVICE_REDIS_SOCKET_PATH=/run/redis/redis-server.sock
WX_SERVICE_REDIS_URL=
WX_SERVICE_REDIS_HOST=
WX_SERVICE_REDIS_PORT=6379
WX_SERVICE_REDIS_PASSWORD=
WX_SERVICE_REDIS_DB=0
WX_SERVICE_REDIS_SOCKET_TIMEOUT_SECONDS=1.5
WX_SERVICE_REDIS_HEALTH_CHECK_INTERVAL_SECONDS=30
WX_SMOKE_BASE_URL=http://127.0.0.1
WX_SMOKE_TIMEOUT_SECONDS=3
WX_SMOKE_ALLOW_GO_DEGRADED=false
WX_SMOKE_ALLOW_REDIS_UNREACHABLE=false
